@using ApartmentManagementSystem.Models
@model FamilyModel
@{
    ViewBag.Title = "EditBookedAmenitie";
}

<h2>EditBookedAmenitie</h2>
@using (Html.BeginForm())
{

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(id => id.Id)
                    @Html.TextBoxFor(id => id.Id, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(name => name.Name)
                    @Html.TextBoxFor(name => name.Name, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(cell => cell.Cell)
                    @Html.TextBoxFor(cell => cell.Cell, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(block => block.Block)
                    @Html.TextBoxFor(block => block.Block, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(flatno => flatno.Flat_no)
                    @Html.TextBoxFor(flatno => flatno.Flat_no, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(booked_for => booked_for.Booking_for)
                    @Html.TextBoxFor(booked_for => booked_for.Booking_for, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(on_date => on_date.On_date)
                    @Html.TextAreaFor(on_date => on_date.On_date, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(on_time => on_time.On_time)
                    @Html.TextBoxFor(on_time => on_time.On_time, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(status => status.Status)
                    @Html.DropDownListFor(status => status.Status,new SelectList(Model.lststatus), new { @class = "form-control" })
                </div>
                <div>
                    <input type="submit" id="btnupdate" value="Update" name="operation" />
                </div>
            </div>
        </div>
    </div>

}
