@using ApartmentManagementSystem.Models
@model List<OwnerTenantRegistrationModel>
@{
    ViewBag.Title = "GetAllOwnerTenant";
}

<h2>GetAllOwnerTenant</h2>
<table border="1" class="table table-bordered ">
    <tr>
        <th>Id</th>
        <th>Fname</th>
        <th>Lname</th>
        <th>Age</th>
        <th>Cell No</th>
        <th>Email</th>
        <th>Occupation</th>
        <th>Company</th>
        <th>OfficeAddress</th>
        <th>Register Date</th>
        <th>Block</th>
        <th>Flat No</th>
        <th>Member type</th>
        <th></th>
    </tr>
    @using (Html.BeginForm())
    {
        foreach (OwnerTenantRegistrationModel lst in Model)
        {
            <tr>
                <td>@lst.Id</td>
                <td>@lst.Fname</td>
                <td>@lst.Lname</td>
                <td>@lst.Age</td>
                <td>@lst.Cell</td>
                <td>@lst.Email</td>
                <td>@lst.Occupation</td>
                <td>@lst.Company</td>
                <td>@lst.Office_address</td>
                <td>@lst.On_date</td>
                <td>@lst.Block</td>
                <td>@lst.Flat_no</td>
                <td>@lst.Member_type</td>
                <td>
                    @Html.ActionLink("Edit", "EditOwnerTenant",new {id=lst.Id})
                    
                @Html.ActionLink("Delete", "DeleteOwnerTenant",new {id=lst.Id}, new { onclick = "return confirm('Are you sure you want to delete?');" })
            </td>
           </tr>
        }
     }

</table>
