@using ApartmentManagementSystem.Models;
@model LoginModel
@{
    ViewBag.Title = "ForgotPassword";
}


@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2>Forgot Password</h2>
                <div class="form-group">
                    @Html.LabelFor(email => email.Email)
                    @Html.TextBoxFor(email => email.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(cell_no => cell_no.Cell_no)
                    @Html.TextBoxFor(cell_no => cell_no.Cell_no, new { @class = "form-control"  })
                </div>
                <div>
                    <input type="submit" id="btnconfirm" value="Confirm" name="operation" style=" margin-left:50px" />
                    <input type="submit" id="btncancel" value="Cancel" name="operation" style="margin-left:50px"/>
                </div>
                <div>
                    <span class="control-label" style="color:orangered">@Html.DisplayFor(message => message.Message)</span> 
                </div>
            </div>
        </div>
        </div>
}

