@using ApartmentManagementSystem.Models
@model LoginModel
@{
    ViewBag.Title = "Login";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2>Login</h2>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(Email => Email.Email):
                        @Html.TextBoxFor(Email => Email.Email, new { placeholder="Email", @class = "form-control" })
                        @Html.ValidationMessageFor(Email => Email.Email, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(Password => Password.Password):
                        @Html.PasswordFor(Password => Password.Password, new { placeholder = "Password", @class = "form-control" })
                        @Html.ValidationMessageFor(Password =>Password.Password, "", new { @class = "text-danger" })
                    </div>
                    <div> @Html.CheckBoxFor(Remember_me => Remember_me.Remember_me)<label>Remember me</label></div>
                    <div><input type="submit" id="btnlogin" value="Login" /><br /></div>
                    <div>@Html.ActionLink("ForgotPassword", "ForgotPassword")</div>
                    <div>
                        <span class="control-label" style="color:orangered">@Html.DisplayFor(model => model.Message)</span></div>
                </div>
            </div>
        </div>
    </div>
}
