@using ApartmentManagementSystem.Models
@model MeetingModel
@{
    ViewBag.Title = "MeetingRequest";
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<script>
    var j = jQuery.noConflict();
    j(document).ready(function () {
        j('.datepicker').datepicker({

        })

    });
</script>

@using (Html.BeginForm())
{
    <div class="container">
        <div class="row brode">
            <div class="col-md-4 col-md-offset-4">
                <h2>Meeting Request</h2>
                <div class="form-group">
                    @Html.LabelFor(message => message.Message):
                    @Html.TextAreaFor(message => message.Message, new { @class = "form-control" })
                    @Html.ValidationMessageFor(message => message.Message, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(location => location.Location):
                    @Html.DropDownListFor(location => location.Location,new SelectList(Model.lstlocation),"--select--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(location => location.Location, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(To => To.Send_To):
                    @Html.DropDownListFor(To => To.Send_To,new SelectList(Model.lstsend_to),"--select--", new { @class = "form-control " })
                    @Html.ValidationMessageFor(To => To.Send_To, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(date => date.On_Date):
                    @Html.TextBoxFor(date => date.On_Date, new { @class = "form-control datepicker" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(meetingtime => meetingtime.MeetingTime):
                    @Html.TextBoxFor(meetingtime => meetingtime.MeetingTime, new { @class = "form-control" })
                    @Html.ValidationMessageFor(meetingtime => meetingtime.MeetingTime, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" id="btnsend" value="Send" name="operation" style=" margin-left:50px" />
                    <input type="submit" id="btnclear" value="Clear" name="operation" class="cancel" style=" margin-left:50px" />
                </div>
            </div>
        </div>
    </div>
}
